@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.bruno-ace-sc-regular {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.stroke {
  stroke: #1bac08;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
